#root {
    width: 100%;
    --primary: 'rgb(0, 128, 85)';
    --secondary: '#0a0a0a';
    --ternary: '#6642B1';

    --vpd: 15px;
    --hpd: 15px;
}

@media screen and (min-width: 1200px) {

    #root {

        --vpd: 50px;
        --hpd: 50px;
    }

    .MuiContainer-root.MuiContainer-maxWidthMd.css-xdmu94-MuiContainer-root>div:nth-child(odd) {
        flex-direction: row-reverse;
    }
}

.imgWrap {
    width: 84px;
}

.imgWrap img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}



.css-1c35hjw-MuiPaper-root-MuiAccordion-root.Mui-expanded {
    margin: 0 !important;
}